= form_tag add_member_conversation_users_path, multipart: true, class: 'form-inline' do
  = hidden_field_tag :conversation_id, @conversation.id
  .dropdown.align-baseline
    %h5.dropdown-toggle.active{'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', role: 'button'} Friends
    %ul.dropdown-menu
      - current_user.friends.each do |friend|
        - unless @conversation.member?(friend.id)
          %li
            %input{name: 'user_id[]', type: 'checkbox', value: friend.id}>/
            = " #{friend.show_full_name}"
      = submit_tag 'Add member(s)', class: 'btn btn-outline-success'