.container.bg-info
  %h2 New article art
  %p= link_to 'HOME', root_path, class: 'btn btn-info'
  - @article_art.errors.full_messages.each do |message|
    %p.text-danger= message
    %hr{style: "margin: 3px 0; height: 1px; background: black;"}
   
  = form_with model: @article_art do |form|
    %p= form.text_field :article_id, placeholder: 'article id'
    %p= form.text_field :name, placeholder: 'name'
    %p= form.text_field :likes, placeholder: 'likes'
     
    -## CREATE ARTICLE 
    %p.mt.align-center= form.submit class: 'btn btn-success'



    
