.chat-messages.p-4{style: 'height: 500px;'}
  - @conversation.messages.each do |message|
    - if message.show_current_user_messages
      .chat-message-right.pb-4
        %div
          - if current_user.has_avatar?
            = image_tag(current_user.avatar, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 60px; height: 60px; border-radius: 50%;')
          - else
            = image_tag('avatar.png', class: 'img img-circle img-thumbnail isTooltip', style: 'width: 60px; height: 60px; border-radius: 50%;')
        .flex-shrink-1.bg-info.rounded.py-2.px-3.mr-3.text-wrap{style: "width: 40vw" }
          = message.text
          .text-muted.small.text-nowrap.mt-2= message.show_time
    - elsif message.show_interlocutor_messages
      .chat-message-left.pb-4
        %div
          - if message.conversation_user.present? && message.conversation_user.user.has_avatar?
            = image_tag(message.conversation_user.user.avatar, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 60px; height: 60px; border-radius: 50%;')
          - else
            = image_tag('avatar.png', class: 'img img-circle img-thumbnail isTooltip', style: 'width: 60px; height: 60px; border-radius: 50%;')
        .d-flex.flex-column
          .text-muted.small.text-nowrap.mt-2= message.show_owner_name
          .flex-shrink-1.bg-light.rounded.py-2.px-3.ml-3.text-wrap{style: "width: 40vw" }
            = message.text
            .text-muted.small.text-nowrap.mt-2= message.show_time