%main.content
  .container.p-0
    .card
      .row.g-0
        .col-12.col-lg-5.col-xl-3.border.border-dark
          = render 'conversations'
        .col-12.col-lg-7.col-xl-9
          = render 'conversation_header'
          = render 'messages'
          = render 'message_form'

= javascript_include_tag 'conversations/clear_input'