!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsIntro
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag 'application'
    = javascript_importmap_tags
  %body
    .container.bg-info.d-flex.justify-content-end
      .container-sm{style: 'display: flex; flex-direction: column; align-items: flex-end;'}
        -if user_signed_in?
          %h4= current_user.email
          = button_to 'Log out', destroy_user_session_path, class: 'btn btn-info', method: :delete
          %hr{style: "margin: 4px 0;"}
          = link_to 'Settings', edit_user_registration_path, class: 'btn btn-info'
        -else 
          = link_to 'Log in', new_user_session_path, class: 'btn btn-info'
          %hr{style: "margin: 4px 0;"}
          = link_to 'Sign up', new_user_registration_path, class: 'btn btn-info'
        
      = yield
