= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-group.row
    %label.col-sm-2.col-form-label New password
    .col-sm-10
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control'
  .form-group.row
    %label.col-sm-2.col-form-label Password confirmation
    .col-sm-10
      = f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: 'form-control'
  .form-group.row
    %label.col-sm-2.col-form-label Current password
    .col-sm-10
      = f.password_field :current_password, autofocus: true, autocomplete: "new-password", class: 'form-control'
  %br/
  %br/
  .actions
    = f.submit "Update", class: 'btn btn-primary'
