.container.bg-info
  %h2
    Article editting #{@article.id}
  = form_with model: @article do |form|
    %p= form.label :title
    %p= form.text_field :title
    %p= form.label :body, 'Article text'
    %p= form.text_area :body
    %p= form.submit 'Save', class: 'btn btn-success'
