.container.bg-info
  %h2
    Edit Article  #{@article.id}
  = form_with model: @article do |form|
    %div
      %span= form.label :title
      %span= form.text_field :title
    %div
      %h5= form.label :body, 'Article text'
      %span= form.text_area :body
    %h3 Article arts
    = form.fields_for :article_arts do |article_form| 
      %div
        %span= article_form.label :name
        %span= article_form.text_field :name
      %div
        %span= article_form.label :likes
        %span= article_form.text_field :likes
      %hr

    %p= form.submit 'Save', class: 'btn btn-success'
