.container
  %h2.title-lg New article

  - @article.errors.full_messages.each do |message|
    %p.danger= message
    %hr

  = form_with model: @article do |form|
    %p.mt= form.text_field :title, class: 'form-text-field', placeholder: 'title'
    %div
      %br
      = form.text_area :body, placeholder: 'Article text'

      %br
      = form.fields_for :article_arts do |art|
        = art.text_field :name, placeholder: 'Art name'

    -## CREATE NEW ARTICLE ART
    %hr.mt 
    %h2.title-lg.mt New article art
    .align-center
      = button_tag(type: 'submit', id: 'button_plus') do
        = content_tag(:i, nil, class: 'fa fa-plus')

    -## ADD NEW FIELDS FOR ARTICLE ART
    #article_arts

    %p.mt.align-center
      = form.submit class: 'button button-main'


= javascript_include_tag "controllers/articles"
