.container.bg-info
  -## MESSAGES
  - flash.each do |type, msg| 
    %p.text-success= msg

  %h2= "Title: #{@article.title}"
  %p= "Text: #{@article.body}" 
  -## BUTTONS
  .container-sm{style: "display: flex; gap: 3px"}
    %p= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning'

    = form_tag(article_path(@article), method: :delete, remote: true) do
      = button_tag(type: 'submit', class: 'btn btn-danger') do
        = content_tag(:strong, 'Delete')
        
  -## SHOW ALL ARTICLE ARTS FOR CURRENT ARTICLE 
  %h2.text-danger Article arts
  - @article_arts.each do |article_art|
    %p= "ID: #{article_art.id}"
    %p= "Name: #{article_art.name}"

    -## LIKE UNLIKE BUTTONS
    %div{style: "display: flex; gap: 3px; margin-bottom: 5px; "}
      = button_to like_article_art_path(article_art), class: 'btn btn-secondary', method: :patch, remote: true do
        = icon('fa-solid', 'thumbs-up')
        = article_art.get_upvotes.size

      = button_to unlike_article_art_path(article_art), class: 'btn btn-secondary', method: :patch, remote: true do
        = icon('fa-solid', 'thumbs-down')
        = article_art.get_downvotes.size
  
    - if article_art.article_art_comments.empty? 
      = ''
    - else 
      %h4 Comments
      - article_art.article_art_comments.each do |article_art_comment|
        #article_art_comments_list.container-sm{style: "background: #e2f4cc;"}
          %p.h4= "#{article_art_comment.body} "
          %h6= "Created #{time_ago_in_words(article_art_comment.created_at)} Ago"
          %hr{style: "margin: 2px 0; height: .5px; background: black;"}
    %hr{style: "margin: 3px 0; height: 3px; background: black;"}
