-if user_signed_in?
  = link_to 'Reset', users_path, class: 'btn btn-outline-warning mt-2'
  %span#users_count.h3.ml-8= "Total  #{@users[:count]} users"
  .d-flex.justify-content-end.mb-2
    = form_with(url: users_path, method: 'GET', class: 'd-flex') do |form|
      = form.text_field(:query, placeholder: 'Search...', class: 'form-control rounded', id: 'users_search')
  %hr/
  .d-flex.mb-2.mt-2.mr-2
    = form_tag '', method: :get do
      %h6 Select Role
      .d-flex.flex-column
        .d-flex
          = radio_button_tag(:role, :buyer) 
          = label_tag(:role, 'Buyer') 
        .d-flex.mb-2
          = radio_button_tag(:role, :seller)
          = label_tag(:role, 'Seller')
      %h6 Select Gender
      .d-flex.flex-column
        .d-flex
          = radio_button_tag(:gender, :no_select) 
          = label_tag(:gender, 'No select')
        .d-flex
          = radio_button_tag(:gender, :male) 
          = label_tag(:gender, 'Male')
        .d-flex
          = radio_button_tag(:gender, :female) 
          = label_tag(:gender, 'Female')
      %br/
      = submit_tag 'Filter', class: 'btn btn-secondary mt-2'

    = form_tag '', method: :get, class: 'ml-4' do
      %h6 Select age range
      = select_tag :min_age, options_for_select((0..90))
      %br/
      to
      %br/
      = select_tag :max_age, options_for_select((0..90), selected: 90)
      %br/
      = submit_tag 'Filter age', class: 'btn btn-secondary mt-2'
    = render 'users_list'
  = will_paginate @users[:result], renderer: BootstrapPagination::Rails
-else
  %h3= 'You are not signed in'

= javascript_include_tag 'helpers/axios_handler.js'
= javascript_include_tag 'users.js'