= form_for(@item, url:  item_path(@item), html: { method: :put }) do |f|
  = render partial: 'shared/error_messages', resource: @item
  .form-group.row.mb-2
    %label.col-sm-2.col-form-label Avatar
    .col-sm-10
      = f.file_field :images, multiple: true, class: 'form-control'
  .form-group.row.mb-2
    %legend.col-form-label.col-sm-2.pt-0 Title
    .col-sm-10
      = f.text_field :title, autofocus: true, autocomplete: 'title', class: 'form-control', placeholder: 'Title'
  .form-group.row.mb-2
    %legend.col-form-label.col-sm-2.pt-0 Description
    .col-sm-10
      = f.text_area :description, class: 'form-control', placeholder: 'Description'
  .form-group.row.mb-2
    %legend.col-form-label.col-sm-2.pt-0 Price
    .col-sm-10
      = f.number_field :price, class: 'form-control', placeholder: 'Price'
  .form-group.row.mb-2
    %legend.col-form-label.col-sm-2.pt-0 Count
    .col-sm-10
      = f.number_field :countity, class: 'form-control', placeholder: 'Count'
  %fieldset.form-group
    .row.mb-2
      %legend.col-form-label.col-sm-2.pt-0 State
      .col-sm-10
        .form-check 
          = f.radio_button :state, 'normal', class: 'gridRadios1 form-check-input'
          = f.label :state, 'Normal', class: 'label form-check-label'
        .form-check 
          = f.radio_button :state, 'speedily', class: 'gridRadios1 form-check-input'
          = f.label :state, 'Speedily', class: 'label form-check-label'
  .form-group.row.mb-2
    %legend.col-form-label.col-sm-2.pt-0 Options
    .col-sm-10
      - @item.options.each do |option|
        .d-flex.justify-content-between
          %b.mr-2.mt-2.mw-20= "#{option.first}"
          = f.text_field :options, value: option.last, class: 'form-control mb-2', name: "options[#{option.first}]"
  .actions
    = f.submit 'Update', class: 'btn btn-primary mb-2'